# Project files
VERSION
_version.py
conda_build_artifacts
conda-build-artifacts

# Temp files
*.swp

# C++ and temp files
*.o
*.so

# Documentation and c++ build artifacts
build*/

# Python related files
__pycache__

# Cython build artifacts
src/python/.coverage
src/python/cobertura.xml
src/python/error_tools.cpython-37m-x86_64-linux-gnu.so
src/python/error_tools_python.cpp
src/python/htmlcov/
